<div id="feed-loading" class="loading">
	<h2 class="align-center">Please wait while we load the photos of your lunch...
		<p><img class="spinner" src="/images/ajax-loader.gif" /></p>
	</h2>
</div>	


<div id="results">
</div>	

<form id="themeForm" action="/assets/generateTheme">
	<input type="hidden" name="photoURL" id="photoURL" />
	<input type="hidden" name="otherColors" id="otherColors" />
	<img id="srcimg" src="" style="display:none;" />
</form>

<div id="theme-loading" class="loading">
	<h2 class="align-center">Generating your theme...
		<p><img class="spinner" src="/images/ajax-loader.gif" /></p>
	</h2>
</div>	

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();

		$("#feed-loading").fadeIn("slow");
		$.get('pull#results-wrapper', function(data) {
			$("#feed-loading").fadeOut("fast");
  			$('#results').html(data).fadeIn("slow");
  		});
	});

	function generateTheme(imageIndex) {
		$(".fancybox-overlay").fadeOut("fast");
		$("#theme-loading").fadeIn("fast");
		var myImage = $('#' + imageIndex);
		var getURL='/assets/persistImage?myurl=' + $('#' + imageIndex).attr('label');

		$.get(getURL, function(data) {
  			var imageLocation = '/' + data;
  			$("#srcimg").attr("src", imageLocation);
  			$("#photoURL").val(imageLocation);
			$("#srcimg").bind('load', function (event) {
				var $image = $(event.target);
        		var paletteArray = createPalette($image, 10); // 2nd argument sets # of colors in palette
				$("#otherColors").val(paletteArray);
				$("#themeForm").submit();
			});
		});
	}

	function componentToHex(c) {
    	var hex = c.toString(16);
    	return hex.length == 1 ? "0" + hex : hex;
	}

	function rgbToHex(r, g, b) {
    	return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
	}

</script>